/*
 Mainpage: Assessment 1
 File: screen.css (Line Endings: LF)(I am poor)
 Author: RTM
 Student: s3874574
 Date: 19-12-2021
 Brief:
 Completely hand written CSS code. Screen layout.
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body 
{
    margin:0px;
    padding:0px;
    background-color: rgba(255,255,255,1.0);
}
p
{
    font-family: Montserrat;
  
 
}
h2
{
    font-family: 'Roboto';
    text-transform: uppercase;
}
h3
{
    background-color: rgba(250, 201, 1, 1.0);
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 24px;
}

h4
{
    background-color: rgb(219, 35, 43, 1.0);
    font-family: Montserrat;
    text-transform: uppercase;
    
}
h5
{
    background-color: rgba(34, 80, 149, 1.0);
    color: rgba(255,255,255,1.0);
    font-family: Montserrat;
    text-transform: uppercase;
    
}


/*#############################################################################
  Container: Boundary
#############################################################################*/

.boundaryContainer
{   
    background-color: rgba(0, 255, 0, 0.0);
    visibility: visible;    
    position: absolute;
    width: 1350px;
    top:0;
    left: 0;
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

/*#############################################################################
 Container: SVG containers.
#############################################################################*/


.roundTransBlueLeftUpContainer
{
    background-color: rgba(0, 255, 0, 0.0);
    visibility: visible;
    
    position:absolute;
    top: 230px;
    left: 175px;
    width: auto;
    height: auto; 
    opacity: 1.0;
    z-index: 1;
}

.roundTransRedLwContainer
{
    background-color: rgba(0, 255, 0, 0.0);
    visibility: visible;
    
    position:absolute;
    top: 350px;
    left: 600px;
    width: auto;
    height: auto; 
    opacity: 1.0;
    z-index: -1;
}


.roundYellowLeftLwContainer
{
    background-color: rgba(0, 255, 0, 0.0);
    visibility: visible;
    
    position:absolute;
    top: 900px;
    left: 350px;
    width: auto;
    height: auto; 
    opacity: 1.0;
    z-index: -1;
}

/*#############################################################################
  Container: Assessment Text Container 
#############################################################################*/

.assessmentTextContainer 
{
    background-color: rgba(0, 255, 0, 0.0);

    visibility: visible;
    position:absolute;
    
    top:50px;
    right:0px;
    width: 475px;
    height: 160px; 
    
    opacity: 1;
}
.assessmentTextContainer.Text
{
    visibility: visible;
    position:relative;
    top: 0px; 
    margin: 0px;
    padding: 0;
    text-align: right;
    font-family: 'Roboto',sans-serif;
    font-size: 82px;
    line-height: 1;
    color: rgb(219, 35, 43, 1.0);
    font-weight: 700;

}

/*#############################################################################
  Container: Assessment Name Text Container
#############################################################################*/

.assessmentNameTextContainer 
{
    background-color: rgba(0, 255, 0, 0.0);

    visibility: visible;
    position:absolute;
    
    top:300px;
    right:160px;
    z-index: 2;
    width: 390px;
    height: 160px; 
    
    opacity: 1;
}
.assessmentNameTextContainer.Text
{
    visibility: visible;
    position:relative;
    
    margin: 0px;
    padding: 0;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 128px;
    line-height: 1;
    color: rgb(255, 255, 255, 1.0);
    /*color: rgb(219, 35, 43, 1.0);*/
    font-weight: 700;

}

/*#############################################################################
 Container: Student Number Text Container
#############################################################################*/

.studentNumTextContainer 
{
    background-color: rgba(0, 255, 0, 0.0);

    visibility: visible;
    position:absolute;
    
    top:0px;
    left:40px;
    z-index: 0;
    width: 390px;
    height: 160px; 
    
    opacity: 1;
}

.studentNumTextContainer.Text
{
    visibility: visible;
    position:relative;

    margin: 0px;
    padding: 0;
    text-align: left;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 82px;
    line-height: 1;
    color: rgb(0, 0, 0, 1.0);
    font-weight: 700;
    transform-origin: 0 0; 
    transform: rotate(90deg);
}

 


/*#############################################################################
  Container: Hay Market 
#############################################################################*/

.hayMarketArtContainer
{
    background-color: rgba(0, 255, 0, 0.0);  
    visibility: visible;

    position:absolute;
    top:400px;
    left:390px;
    z-index: 1;
    width: auto;
    height: auto; 
    
    
    opacity: 1.0;
}

.hayMarketArt
{
    display: block;
    visibility: visible;
    width: 250px;
    height: auto;

}
/*#############################################################################
  Container: Casino
#############################################################################*/

.casinoContainer
{
    background-color: rgba(0, 255, 0, 1.0);  

    visibility: visible;
    position:absolute;
    top:270px;
    left:665px;
    width: auto;
    height: auto; 
    
    opacity: 1.0;
}

.casino
{
    visibility: visible;
    display: block;
    width: 150px;
    height: auto;
}
/*#############################################################################
 Container: My Portrait 
#############################################################################*/
.myPortraitContainer 
{
    background-color: rgba(0, 255, 0, 1.0);

    visibility: visible;
    position:absolute;
    top:550px;
    left:180px;
    z-index: 1;

    width: auto;
    height: auto; 
    opacity: 1.0;
}
.myPortrait
{
    visibility: visible;
    display: block;
    width: 320px;
    height: auto;
    
}

/*#############################################################################
 Container: Building Lights
#############################################################################*/
.buildingLights
{
    background-color: rgba(0, 255, 0, 1.0);

    visibility: visible;
    position:absolute;
    top:315px;
    left: 232px;
    width: auto;
    height: auto; 
    opacity: 1.0;
}
.buildingLights
{
    visibility: visible;
    display: block;
    width: 250px;
    height: auto;
    
}

/*#############################################################################
 Container: Light Art
#############################################################################*/
.lightArtContainer
{
    background-color: rgba(0, 255, 0, 1.0);
    visibility: visible;
    
    position:absolute;
    top: 800px;
    left: 710px;
    width: auto;
    height: auto; 
    opacity: 1.0;
    z-index: -1;
}
.lightArt
{
    visibility: visible;
    display: block;
    width: 250px;
    height: auto;
}

/*#############################################################################
 Container: Floor Lights
#############################################################################*/
.floorLightsContainer
{
    background-color: rgba(0, 255, 0, 1.0);
    visibility: visible;
    
    position:absolute;
    top: 500px;
    left: 700px;
    width: auto;
    height: auto; 
    opacity: 1.0;
    z-index: -1;
}
.floorLights
{
    visibility: visible;
    display: block;
    width: 300px;
    height: auto;
    
}

/*#############################################################################
 Container: Fuzzy Me
#############################################################################*/
.fuzzyMeContainer
{
    background-color: rgba(0, 255, 0, 1.0);
    visibility: visible;
    
    position:absolute;
    top: 740px;
    left: 950px;
    width: auto;
    height: auto; 
    opacity: 1.0;
    z-index: 1;
}
.fuzzyMe
{
    visibility: visible;
    display: block;
    width: 300px;
    height: auto;
    
}

/*#############################################################################
 Container: Navigation
#############################################################################*/

.navigation
{
    background-color: rgba(0, 255, 0, 0.0);
    visibility: visible;
    position:absolute;
    top:1115px;
    left:0px;
    width: 330px;
    height: 425px;

    opacity: 1;
}

.navigationBarLinkHome
{
    color: rgb(0, 0, 0,1.0);
    text-decoration: none;
    font-size: 24px;
}
.navigationBarLinkHome:hover
{
    color: rgb(221, 1, 0,1.0);
    text-decoration: none;
}


.navigationBarLinkPersonalInfomation
{
    color: rgb(221, 1, 0,1.0);
    text-decoration: none;
}
.navigationBarLinkPersonalInfomation:hover
{
    color: rgb(0,0, 0,1.0);
    text-decoration: none;
}

.navigationBarLinkInterestInformationTechnology
{
    color: rgb(221, 1, 0,1.0);
    text-decoration: none;
}
.navigationBarLinkInterestInformationTechnology:hover
{
    color: rgb(0,0, 0,1.0);
    text-decoration: none;
}

.navigationBarLinkIdealJob
{
    color: rgb(221, 1, 0,1.0);
    text-decoration: none;
}
.navigationBarLinkIdealJob:hover
{
    color: rgb(0, 0, 0,1.0);
    text-decoration: none;
}


.navigationBarLinkPersonalProfile
{
    color: rgb(221, 1, 0,1.0);
    text-decoration: none;
}
.navigationBarLinkPersonalProfile:hover
{
    color: rgb(0, 0, 0,1.0);
    text-decoration: none;
}


.navigationBarLinkProjectIdea
{
    color: rgb(221, 1, 0,1.0);
    text-decoration: none;
}
.navigationBarLinkProjectIdea:hover
{
    color: rgb(0, 0, 0,1.0);
    text-decoration: none;
}

.navigationBarLinkReferneces
{
    color: rgb(221, 1, 0,1.0);
    text-decoration: none;
}
.navigationBarLinkReferneces:hover
{
    color: rgb(0, 0, 0,1.0);
    text-decoration: none;
}

/*#############################################################################
 Main Container
#############################################################################*/

.mainContainer
{
    background-color: rgba(0, 255, 0, 0.0);
    visibility: visible;

    position:absolute;
    top:1550px;
    left:0px;
    width: 1350px;
    height: auto; 
    opacity: 1;
}

.mainContainerImagePrint
{
    position:absolute;
    right:0px;
}

.linkHome{
	/* display:block;  */
    position:absolute;
    left:0px;

    font-size: 128px;
    color: rgb(0, 0, 0,1.0);
    text-decoration: none;
}

.linkHome:hover{
	/* display:block;  */
    position:absolute;
    left:0px;

    color: rgba(34, 80, 149, 1.0);
    text-decoration: none;
}
